.container-home {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container-category {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .title-home {
    text-align: center;
    padding-top: 40px;
    font-size: 2.5rem;
    color: var(--font-secondary);
  }

  .movies-container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 80px 20px;

    @media (max-width: 1600px) {
      padding: 0 10px;
    }
  }

  .btn-from-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: var(--font-secondary);
    color: var(--bg-color);
    z-index: 8;
  }
}
