.link {
  height: 390px;
  width: 100%;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 40px;

  &:hover > img {
    transform: translateY(-6px);
    transition: 0.5s;
  }
  &:hover > p {
    transform: translateY(-6px);
    transition: 0.5s;
  }

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 22;
    justify-self: flex-start;
    transition: all 0.5s;
  }

  h2 {
    font-size: 1.23rem;
    color: #fff;
    padding-top: 6px;
    text-align: center;
  }
  p {
    font-weight: 700;
    border-radius: 50%;
    display: flex;
    gap: 6px;
    font-size: 1rem;
    padding: 9px 6px;
    color: #fff;
    align-items: center;
    margin-bottom: 5px;
    transition: 0.5s;
  }

  .button-template {
    background-color: #ffd43a;
    padding: 12px;
    color: #000;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
  }
}
